In [ ]:
'''
클러스터 20431 순으로 좋음

계층5가 엑셀에는 2번으로 표시되어 있고
계층4가 엑셀에는 0번으로 표시되어 있음
...

계층1이 엑셀에는 1번으로 표시되어 있음
'''

In [1]:
import pandas as pd
df = pd.read_excel('가번호_category.xlsx', sheet_name = 0)
df

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
0,0,20154003,2,인문1,KU자기추천,3.96,여,문과대학,국어국문학과,2015,...,법과 정치,53.0,3.0,3.0,4.0,사탐,세계 지리,5.0,법과 정치,5.0
1,1,20154007,3,인문1,KU논술우수자,3.16,여,문과대학,국어국문학과,2015,...,윤리와 사상,59.0,2.0,5.0,2.0,사탐,생활과 윤리,3.0,윤리와 사상,4.0
2,2,20154015,4,인문1,수능,3.30,여,문과대학,국어국문학과,2013,...,사회·문화,62.0,2.0,2.0,2.0,사탐,법과 정치,3.0,사회·문화,3.0
3,3,20154016,2,인문1,수능,3.93,여,문과대학,국어국문학과,2012,...,윤리와 사상,61.0,1.0,2.0,3.0,사탐,생활과 윤리,4.0,윤리와 사상,3.0
4,4,20154018,3,인문1,KU논술우수자,3.37,여,문과대학,국어국문학과,2015,...,윤리와 사상,60.0,2.0,2.0,4.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726,1726,20167293,3,인문1,기타,3.61,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1727,1727,20167294,1,인문1,기타,2.76,남,글로벌융합대학,신산업융합학과,2005,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1728,1728,20167295,3,인문1,기타,3.27,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1729,1729,20167296,0,인문1,기타,3.45,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1730,1730,20167297,2,인문1,기타,3.83,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_전형 = df.groupby('전형').size()
df_전형

전형
KU교과우수자     88
KU논술우수자    257
KU자기추천     326
기타         325
수능         735
dtype: int64

In [2]:
group_5 = df['category'] == 2
group_5 = df[group_5]
group_5

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
0,0,20154003,2,인문1,KU자기추천,3.96,여,문과대학,국어국문학과,2015,...,법과 정치,53.0,3.0,3.0,4.0,사탐,세계 지리,5.0,법과 정치,5.0
3,3,20154016,2,인문1,수능,3.93,여,문과대학,국어국문학과,2012,...,윤리와 사상,61.0,1.0,2.0,3.0,사탐,생활과 윤리,4.0,윤리와 사상,3.0
7,7,20154026,2,인문1,수능,3.86,여,문과대학,국어국문학과,2015,...,세계사,58.0,2.0,3.0,2.0,사탐,윤리와 사상,3.0,세계사,4.0
8,8,20154027,2,인문1,수능,4.10,여,문과대학,국어국문학과,2015,...,동아시아사,62.0,3.0,1.0,2.0,사탐,생활과 윤리,1.0,동아시아사,2.0
11,11,20154034,2,인문1,KU교과우수자,4.25,여,문과대학,국어국문학과,2015,...,법과 정치,63.0,3.0,4.0,2.0,사탐,세계사,1.0,법과 정치,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,1699,20167261,2,인문1,기타,4.04,여,글로벌융합대학,신산업융합학과,2011,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1710,1710,20167275,2,인문1,기타,4.11,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1718,1718,20167285,2,인문1,기타,3.85,여,글로벌융합대학,신산업융합학과,2012,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1724,1724,20167291,2,인문1,기타,4.14,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1730,1730,20167297,2,인문1,기타,3.83,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
group_5_전형 = group_5.groupby('전형').size()
group_5_전형

전형
KU교과우수자     39
KU논술우수자     41
KU자기추천      88
기타          65
수능         152
dtype: int64

In [15]:
group_5_입학대학 = group_5.groupby('입학대학').size()
group_5_입학대학

입학대학
건축대학        13
경영대학        14
공과대학        39
글로벌융합대학     36
동물생명과학대학    26
문과대학        59
사범대학        42
상경대학        20
생명특성화대학     14
생명환경과학대학    20
수의과대학       25
예술디자인대학     26
이과대학        24
정보통신대학      11
정치대학        16
dtype: int64

In [3]:
group_4 = df['category'] == 0
group_4 = df[group_4]
group_4

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
5,5,20154020,0,인문1,수능,3.63,여,문과대학,국어국문학과,2015,...,사회·문화,57.0,1.0,2.0,2.0,사탐,생활과 윤리,4.0,사회·문화,4.0
6,6,20154025,0,인문1,KU자기추천,3.57,여,문과대학,국어국문학과,2015,...,동아시아사,62.0,2.0,4.0,5.0,사탐,한국 지리,3.0,동아시아사,2.0
9,9,20154030,0,인문1,KU논술우수자,3.39,여,문과대학,국어국문학과,2014,...,사회·문화,63.0,2.0,2.0,3.0,사탐,생활과 윤리,2.0,사회·문화,2.0
10,10,20154032,0,인문1,KU자기추천,3.35,여,문과대학,국어국문학과,2015,...,한국 지리,58.0,4.0,3.0,3.0,사탐,생활과 윤리,2.0,한국 지리,4.0
13,13,20154036,0,인문1,수능,3.57,여,문과대학,국어국문학과,2015,...,세계 지리,59.0,1.0,1.0,2.0,사탐,한국 지리,4.0,세계 지리,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1715,1715,20167282,0,인문1,기타,3.42,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1717,1717,20167284,0,인문1,기타,3.60,여,글로벌융합대학,신산업융합학과,2012,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1722,1722,20167289,0,인문1,기타,3.39,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1723,1723,20167290,0,인문1,기타,3.63,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1729,1729,20167296,0,인문1,기타,3.45,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
group_4_전형 = group_4.groupby('전형').size()
group_4_전형

전형
KU교과우수자     31
KU논술우수자     88
KU자기추천     118
기타          79
수능         221
dtype: int64

In [16]:
group_4_입학대학 = group_4.groupby('입학대학').size()
group_4_입학대학

입학대학
건축대학        28
경영대학        31
공과대학        58
글로벌융합대학     37
동물생명과학대학    26
문과대학        59
사범대학        39
상경대학        31
생명특성화대학     23
생명환경과학대학    36
수의과대학       30
예술디자인대학     54
이과대학        32
정보통신대학      32
정치대학        21
dtype: int64

In [4]:
group_3 = df['category'] == 4
group_3 = df[group_3]
group_3

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
2,2,20154015,4,인문1,수능,3.30,여,문과대학,국어국문학과,2013,...,사회·문화,62.0,2.0,2.0,2.0,사탐,법과 정치,3.0,사회·문화,3.0
14,14,20154037,4,인문1,KU자기추천,3.06,여,문과대학,국어국문학과,2015,...,윤리와 사상,51.0,3.0,4.0,2.0,사탐,생활과 윤리,1.0,윤리와 사상,5.0
24,24,20154051,4,인문1,기타,2.93,남,문과대학,국어국문학과,2015,...,법과 정치,40.0,3.0,4.0,6.0,사탐,윤리와 사상,6.0,법과 정치,7.0
28,28,20154061,4,인문1,기타,3.26,여,문과대학,영어영문학과,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,20154069,4,인문1,수능,3.25,남,문과대학,영어영문학과,2014,...,사회·문화,63.0,2.0,2.0,1.0,사탐,생활과 윤리,2.0,사회·문화,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,1664,20167122,4,인문1,KU자기추천,3.14,여,글로벌융합대학,융합인재학부(공공인재전공),2016,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1666,1666,20167127,4,인문1,KU논술우수자,3.07,여,글로벌융합대학,융합인재학부(공공인재전공),2016,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1678,1678,20167234,4,인문1,기타,3.18,여,글로벌융합대학,신산업융합학과,2008,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1682,1682,20167240,4,인문1,기타,3.10,여,글로벌융합대학,신산업융합학과,2012,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1685,1685,20167243,4,인문1,기타,3.12,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
group_3_전형 = group_3.groupby('전형').size()
group_3_전형

전형
KU교과우수자      6
KU논술우수자     65
KU자기추천      58
기타          47
수능         127
dtype: int64

In [17]:
group_3_입학대학 = group_3.groupby('입학대학').size()
group_3_입학대학

입학대학
건축대학         9
경영대학        21
공과대학        55
글로벌융합대학      8
동물생명과학대학     9
문과대학        28
사범대학        13
상경대학        22
생명특성화대학     12
생명환경과학대학    20
수의과대학       20
예술디자인대학     39
이과대학        15
정보통신대학      19
정치대학        13
dtype: int64

In [5]:
group_2 = df['category'] == 3
group_2 = df[group_2]
group_2

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
1,1,20154007,3,인문1,KU논술우수자,3.16,여,문과대학,국어국문학과,2015,...,윤리와 사상,59.0,2.0,5.0,2.0,사탐,생활과 윤리,3.0,윤리와 사상,4.0
4,4,20154018,3,인문1,KU논술우수자,3.37,여,문과대학,국어국문학과,2015,...,윤리와 사상,60.0,2.0,2.0,4.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0
20,20,20154044,3,인문1,수능,2.98,남,문과대학,국어국문학과,2013,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,20154060,3,인문1,수능,3.34,여,문과대학,영어영문학과,2013,...,세계사,63.0,2.0,1.0,2.0,사탐,세계 지리,1.0,세계사,2.0
29,29,20154063,3,인문1,KU자기추천,3.53,여,문과대학,영어영문학과,2015,...,사회·문화,63.0,3.0,3.0,3.0,사탐,법과 정치,1.0,사회·문화,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1719,1719,20167286,3,인문1,기타,3.38,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1720,1720,20167287,3,인문1,기타,3.31,남,글로벌융합대학,신산업융합학과,2000,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1725,1725,20167292,3,인문1,기타,3.35,여,글로벌융합대학,신산업융합학과,2012,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1726,1726,20167293,3,인문1,기타,3.61,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1728,1728,20167295,3,인문1,기타,3.27,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
group_2_전형 = group_2.groupby('전형').size()
group_2_전형

전형
KU교과우수자     10
KU논술우수자     40
KU자기추천      43
기타          62
수능         155
dtype: int64

In [18]:
group_2_입학대학 = group_2.groupby('입학대학').size()
group_2_입학대학

입학대학
건축대학         5
경영대학         8
공과대학        22
글로벌융합대학     36
동물생명과학대학     9
문과대학        21
사범대학        32
상경대학         9
생명특성화대학      1
생명환경과학대학    23
수의과대학       42
예술디자인대학     64
이과대학        18
정보통신대학       8
정치대학        12
dtype: int64

In [6]:
group_1 = df['category'] == 1
group_1 = df[group_1]
group_1

,Unnamed: 0,가번호,category,계열,전형,최종평점,성별,입학대학,입학학과,고교졸업년도,...,탐구과목2.1,탐구표준점수2,언어등급,수리등급,외국어등급,탐구영역구분.2,탐구과목1.2,탐구등급1,탐구과목2.2,탐구등급2
31,31,20154068,1,인문1,기타,2.54,여,문과대학,영어영문학과,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,20154071,1,인문1,기타,2.12,여,문과대학,영어영문학과,2015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,53,20154146,1,인문1,KU논술우수자,2.46,여,문과대학,중어중문학과,2012,...,법과 정치,60.0,1.0,4.0,4.0,사탐,생활과 윤리,3.0,법과 정치,3.0
65,65,20154174,1,인문1,KU논술우수자,2.81,여,문과대학,중어중문학과,2015,...,윤리와 사상,63.0,2.0,2.0,2.0,사탐,생활과 윤리,2.0,윤리와 사상,2.0
66,66,20154175,1,인문1,KU논술우수자,2.93,여,문과대학,중어중문학과,2015,...,윤리와 사상,60.0,2.0,3.0,2.0,사탐,생활과 윤리,2.0,윤리와 사상,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709,1709,20167274,1,인문1,기타,2.35,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1712,1712,20167277,1,인문1,기타,2.70,여,글로벌융합대학,신산업융합학과,2012,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1713,1713,20167279,1,인문1,기타,2.66,여,글로벌융합대학,신산업융합학과,2013,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1721,1721,20167288,1,인문1,기타,2.61,남,글로벌융합대학,신산업융합학과,2011,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1727,1727,20167294,1,인문1,기타,2.76,남,글로벌융합대학,신산업융합학과,2005,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
group_1_전형 = group_1.groupby('전형').size()
group_1_전형

전형
KU교과우수자     2
KU논술우수자    23
KU자기추천     19
기타         72
수능         80
dtype: int64

In [19]:
group_1_입학대학 = group_1.groupby('입학대학').size()
group_1_입학대학

입학대학
건축대학         3
경영대학         4
공과대학        17
글로벌융합대학     26
동물생명과학대학     4
문과대학        10
사범대학        23
상경대학        12
생명특성화대학      3
생명환경과학대학     8
수의과대학       32
예술디자인대학     34
이과대학         6
정보통신대학       7
정치대학         7
dtype: int64